<div id="user-bar-greeting">
  <% if @current_user %>
    Logged in as <%= @current_user.name %>. <%= link_to 'Log Out', logout_path %>
  <% else %>
    Log In via <%= link_to 'UC Berkeley CalNet', login_path, :class => 'user-bar-action' %> or
      <%= link_to 'OpenID', user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id") unless session[:user_id].present? %>
      to access our listings.
  <% end %>
</div>
